/* Utility */
.relative {
    position: relative;
}
/* /Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 75%;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.nav_left {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_right {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
}

.nav_right i {
    vertical-align: bottom;
    padding-left: 0.3rem;
    font-size: 0.75rem;
}

#btn {
    color: white;
    background-color: fuchsia;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    padding: 0.9rem;
    border-radius: 2rem;
}

.dropdown {
    display: flex;
    position: absolute;
    top: 100%;
    color: grey;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px lightgrey;
    opacity: 0;
}

.col {
    padding: 1rem;
}

.dropdown ul {
    list-style: none;
}

.dropdown ul li {
    padding: 1rem;
}